<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>BigBrother</title>
		<meta name="keywords" content="监控" />
		<meta name="description" content="监控分布式系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/assets/css/ace.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
		<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							Ace Admin
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->


			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<ul class="nav nav-list">
						<li class="active">
							<a href="index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

				</div>

				<div class="main-content">

					<div class="page-content">
						<div class="page-header">
							<h1>
								Tables
								<small>
									<i class="icon-double-angle-right"></i>
									Static &amp; Dynamic Tables
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="table-header">
							<div class="row">
								<div class="col-sm-4">
									<div class="dataTables_length">
										<label>red: <input id="red" type="number" oninput="if(value>255) value=255;if(value<0) value=0">
										</label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="dataTables_length">
										<label>green: <input id="green" type="number" oninput="if(value>255) value=255;if(value<0) value=0">
										</label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="dataTables_length">
										<label>blue: <input id="blue" type="number" oninput="if(value>255) value=255;if(value<0) value=0">
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>名字</th>
														<th>自动变色</th>
														<th>颜色</th>
														<th>设置自动变色</th>
														<th>设置颜色</th>
													</tr>
												</thead>

												<tbody id="dataList">


												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->

								<div class="hr hr-18 dotted hr-double"></div>



							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div>
				</div><!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
			<script type="text/javascript">
 				window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

		<!-- ace scripts -->

		<script src="/assets/js/ace-elements.min.js"></script>
		<script src="/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script>
			// button relate
			function changeAutoChange(name){
				let httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
				httpRequest.open('POST', '/changeClientAuto', true); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
				httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
				httpRequest.send("clientName="+name);//发送请求 将json写入send中
				/**
				 * 获取数据后的处理程序
				 */
				httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
					if (httpRequest.readyState == 4 && httpRequest.status == 200) {//验证请求是否发送成功
						let json = httpRequest.responseText;//获取到服务端返回的数据
						console.log(json);
					}
				};
			}

			function changeColor(name){
				// 获取红蓝绿
				let red=document.getElementById("red").value;
				let green=document.getElementById("green").value;
				let blue=document.getElementById("blue").value;
				let httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
				httpRequest.open('POST', '/changeClientColor', true); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
				httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
				httpRequest.send("clientName="+name+"&red="+red+"&green="+green+"&blue="+blue);//发送请求 将json写入send中
				/**
				 * 获取数据后的处理程序
				 */
				httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
					if (httpRequest.readyState == 4 && httpRequest.status == 200) {//验证请求是否发送成功
						let json = httpRequest.responseText;//获取到服务端返回的数据
						console.log(json);
					}
				};
			}

			function createColor(red,green,blue){
				var color=new Object;
				color.red=red;
				color.green=green;
				color.blue=blue;
				color.toRGBString=function () {
					return "rgb("+color.red +","+color.green +","+color.blue +")"
				}
				return color;
			}
			jQuery(function ($) {
				function show() {
					$.ajax({
						url: "/clients",
						dataType: "json",
						processData: false,
						type: "get",
						success: function (data) {
							console.log(data);
							var json = eval(data); //数组
							let parNode = document.getElementById("dataList"); //定位到tbody上
							parNode.innerHTML="";
							// var json = JSON.parse(data)
							$.each(json, function (index, item) {
								//循环获取数据
								// var ip = json[index].ip;
								// alert("ip:"+ip);
								let name = json[index].name;
								let isOnline = json[index].isOnline;
								let autoChangeColor = json[index].autoChange;
								let colorString = createColor(json[index].color.red, json[index].color.green, json[index].color.blue).toRGBString();
								console.log(colorString);
								let tr = parNode.insertRow();
								// tr.insertCell().innerHTML = '<td class="center"><label><input type="checkbox" class="ace"/><span class="lbl"></span></label></td>';
								// parNode.rows[index + 1].cells[0].className = "center"
								tr.insertCell().innerHTML = name;
								if (autoChangeColor) {
									tr.insertCell().innerHTML = "True";
								} else {
									tr.insertCell().innerHTML = "False";
								}
								// color td
								let colorTd = tr.insertCell();
								colorTd.innerHTML = "&nbsp";
								colorTd.style = "background-color: " + colorString + ";";


								tr.insertCell().innerHTML = "\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<button class=\"btn btn-xs btn-success\" value='" + name + "' onclick='changeAutoChange(value)'>\n" +
										"\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class=\"icon-ok bigger-120\"></i>\n" +
										"\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</button>"
								tr.insertCell().innerHTML = "\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<button class=\"btn btn-xs btn-info\" value='" + name + "' onclick='changeColor(value)'>\n" +
										"\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class=\"icon-edit bigger-120\"></i>\n" +
										"\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</button>"
								// tr.insertCell().innerHTML = name;
								// if (Boolean(online)) {
								//     tr.insertCell().innerHTML = '<td class="hidden-480"><span class="label label-sm label-success">Online</span></td>';
								// } else {
								//     tr.insertCell().innerHTML = '<td class="hidden-480"><span class="label label-sm label-warning">Offline</span></td>';
								// }

							});
						},
						error: function (XMLHttpRequest, textStatus, errorThrown) {
							console.log(XMLHttpRequest.status);
							console.log(XMLHttpRequest.readyState);
							console.log(textStatus);
							console.log(errorThrown);
							console.log(XMLHttpRequest);
						}
					})
				}
				show();
				setInterval(show,3000);
			});
		</script>
		<script type="text/javascript">
			jQuery(function($) {
				var oTable1 = $('#sample-table-2').dataTable( {
				"aoColumns": [
			      { "bSortable": false },
			      null, null,null, null, null,
				  { "bSortable": false }
				] } );
				
				
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
			
			
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			})
		</script>
	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
